:root {
  --text-color: #f7f7f8;
  --background-color: #373737;

  --header-background-color: #205065;
  --main-background-color: #373738;



  font-family: Inter, system-ui, sans-serif;
  color: var(--text-color);
  background: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

.site-header {
  border-bottom: 1px solid rgba(var(--header-background-color), 0.5);
  background: var(--header-background-color);
}

.site-header nav {
  display: flex;
  gap: 1rem;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
}

.site-header a {
  color: inherit;
  text-decoration: none;
}

.site-header a:hover {
  /* add slight animation */
  filter: brightness(0.8);
}

.site-header a.active {
  font-weight: 700;
}

.site-main {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 50%;
  height: 100vh;
  background: var(--main-background-color);
}

button {
  margin-right: 0.5rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.95);
}

.uma-select__control {
  background-color: #f0f0f0;
  border-color: #007bff;
}

.uma-select__option {
  color: #000000;
}

.uma-select__option--is-selected {
  background-color: #007bff;
  color: #000000;
}

.uma-select__option--is-focused {
  background-color: #e6f7ff;
}
